@use "/src/styles/var" as *;

.banner {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    background: #f4f4f4;

    @media(max-width:$md) {
        padding-top: 100px;
    }

    .content {
        max-width: 800px;
        margin: auto;

        h1 {
            font-weight: 900;
        }
    }
}

.services {
    padding: 50px 0;

    h2 {
        margin-bottom: 30px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 20px;

        @media(max-width:$sm) {
            gap: 15px;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }

        .service {
            box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;
            background: #fff;
            overflow: hidden;
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;

            @media(max-width:$sm) {
                padding-top: 100px;
                padding: 20px 10px;
            }

            h3 {
                font-size: 16px;
                font-weight: 900;
                margin: 20px 0;
                text-transform: capitalize;
            }

            .icon {
                svg {
                    font-size: 34px;
                    color: $primary;
                }
            }
        }
    }
}