@use "/src/styles/var" as *;

.getInvolved {
    padding: 70px 0;

    @media(max-width:$md) {
        padding: 50px 0;
    }

    .head {
        text-align: center;
        padding-bottom: 30px;

        @media(max-width:$md) {
            padding-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 40px;
        align-items: center;
        background: #d9dbff;
        padding: 30px;
        border-radius: 30px;

        @media(max-width:$md) {
            gap: 20px;
        }

        @media(max-width:$sm) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            padding: 30px 10px;
        }

        .image {
            img {
                border-radius: 20px;
                height: 250px;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {

            @media(max-width:$md) {
                text-align: center;
            }

            p {
                font-size: 18px;
                font-weight: 600;
            }

            ul {
                list-style: none;

                li {
                    margin-bottom: 15px;

                    span {
                        font-weight: 900;
                        color: $primary;
                    }
                }
            }

            .btns {
                display: flex;
                gap: 10px;

                @media(max-width:$md) {
                    justify-content: center;
                }

                @media(max-width:$sm) {
                    justify-content: center;
                    flex-wrap: wrap;
                }

                a {
                    padding: 10px 20px;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    border-radius: 10px;

                    @media(max-width:$sm) {
                        padding: 10px 15px;
                        font-size: 14px;
                        border-radius: 8px;
                    }
                }

                .btnOne {
                    background: $primary;
                }

                .btnTwo {
                    background: $secondary;
                }
            }
        }
    }
}