@use "/src/styles/var" as *;

.banner {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    background: #f4f4f4;

    @media(max-width:$md) {
        padding-top: 100px;
    }

    .content {
        max-width: 1000px;
        margin: auto;

        h1 {
            font-weight: 900;
        }
    }
}

.ourStory {
    padding: 70px 0;

    @media(max-width:$md) {
        padding: 50px 0;
        text-align: center;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        align-items: center;



        .image {


            img {
                border-radius: 20px;
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
    }
}

.unique {
    padding-bottom: 70px;

    @media(max-width:$md) {
        padding-bottom: 50px;
    }

    .head {
        text-align: center;
        padding-bottom: 30px;

        @media(max-width:$md) {
            padding-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;


        .wrapper {
            box-shadow: #dcdeff 0px 10px 21.25px 3.75px;
            border-radius: 20px;
            overflow: hidden;
            padding: 30px 15px;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
        }

        .content {
            padding-top: 20px;
            text-align: center;

            h3 {
                color: $primary;
                font-weight: 900;
                margin-bottom: 10px;
                font-size: 20px;

            }

            p {
                font-size: 14px;
                margin: 0;
            }

        }

        .image {
            text-align: center;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
}

.ahead {
    padding: 70px 0;
    background: #f4f4f4;

    @media(max-width:$md) {
        padding: 50px 0;
        text-align: center;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        align-items: center;

        .content {
            p {
                font-size: 20px;
                font-weight: 600;
                color: $primary;
            }

            ul {
                margin-left: 18px;
                list-style: circle;

                @media(max-width:$md) {
                    margin-left: 0px;
                    list-style: none;
                }

                li {
                    padding: 4px 0;
                }
            }
        }

        .image {


            img {
                border-radius: 20px;
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
    }
}