@use "/src/styles/var" as *;


.banner {
    padding-top: 70px;

    @media(max-width:$md) {
        padding-top: 90px;
    }

    .video {
        width: 100%;
        height: 300px;
        border-radius: 30px;

        @media(max-width:$sm) {
            height: 230px;
            border-radius: 20px;
        }
    }
}

.donation {

    margin-top: 50px;

    @media(max-width:$sm) {
        margin-top: 20px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    .wrapper {


        .row {
            display: grid;
            gap: 20px;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            background: #eafbf1;
            padding: 20px;
            box-shadow: inset 0 0 15px 0 #b1ffd9;
            border-radius: 15px;

            @media(max-width:$sm) {
                grid-template-columns: 1fr 1fr;
            }

            .col {
                background: #fff;
                border-radius: 10px;
                overflow: hidden;

                select {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                }

                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                }

                .amount {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;

                    .currency {
                        font-weight: 700;
                    }
                }

                .donationType {
                    padding: 10px;
                }

                .donationName {
                    padding: 10px;
                }

                .quickDonation {
                    button {
                        width: 100%;
                        height: 100%;
                        background: $secondary;
                        color: #fff;
                        padding: 10px;
                        font-weight: 600;
                        border: none;
                    }
                }
            }
        }
    }
}

.welcome {
    padding-top: 100px;

    @media(max-width:$md) {
        padding-top: 50px;
        text-align: center;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 20px;
        align-items: center;

        .logo {
            width: 100%;
            max-width: 150px;
            height: auto;
            margin-bottom: 10px;
        }

        .image {
            .inner {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                margin-bottom: 20px;

                img {
                    height: 200px;
                }
            }

            img {
                border-radius: 20px;
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
    }
}

.vission {
    padding-top: 100px;

    @media(max-width:$md) {
        padding-top: 50px;
    }

    .container {
        background-image: url(/images/image4.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        border-radius: 40px;
        padding: 20px;

        .content {
            text-align: center;
            padding: 70px 20px;
            max-width: 800px;
            margin: auto;
            background: #ffffff91;
            border-radius: 30px;

            p {
                font-weight: 600;
            }
        }
    }
}

.ameer {
    padding: 70px 0;
    margin-top: 100px;
    background: #f4f4f4;

    @media(max-width:$md) {
        padding: 50px 0;
        margin-top: 50px;
    }

    .head {
        text-align: center;
        padding-bottom: 20px;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 20px;
        align-items: center;

        .content {

            @media(max-width:$sm) {
                text-align: center;
            }

            h3 {

                font-weight: 600;
                margin-bottom: 20px;
                font-size: 24px;

                span {
                    display: block;
                    font-size: 28px;
                    color: $primary;
                    padding: 5px 0;
                }
            }

            p {
                font-style: italic;
                font-size: 18px;
            }
        }

        .image {
            text-align: center;

            img {
                width: 100%;
                max-width: 350px;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 30px;
            }
        }
    }
}

.progress {
    padding: 70px 0;

    @media(max-width:$md) {
        padding: 50px 0;

    }

    h2 {
        text-align: center;
        margin-bottom: 50px;

        @media(max-width:$md) {
            margin-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 20px;

        .videos {
            iframe {
                width: 100%;
                aspect-ratio: 2/1;
            }
        }
    }

    .btn {
        text-align: center;
        padding-top: 20px;

        a {
            background: $primary;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            border-radius: 10px;
        }
    }
}

.projects {
    padding: 70px 0;

    @media(max-width:$md) {
        padding: 50px 0;

    }

    .head {
        text-align: center;
        padding-bottom: 30px;

        @media(max-width:$md) {
            padding-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;


        .wrapper {
            box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;
            border-radius: 20px;
            overflow: hidden;

        }

        .content {
            padding: 20px 15px;
            text-align: center;

            h3 {
                color: $primary;
                font-weight: 900;
                margin-bottom: 10px;
                font-size: 20px;

            }

            p {
                font-size: 14px;
            }

        }

        .image {
            text-align: center;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
    }
}

.ongoingProjects {
    padding: 70px 0;
    background: #f4f4f4;

    @media(max-width:$md) {
        padding: 50px 0;
    }

    .head {
        text-align: center;
        padding-bottom: 30px;

        @media(max-width:$md) {
            padding-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));


        .wrapper {
            box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;
            background: #fff;
            overflow: hidden;
            padding: 20px;
            border: 1px solid #ddd;
            display: flex;
            gap: 20px;

            .icon {
                font-size: 50px;

                svg {
                    color: $primary;
                }
            }

            .content {
                h3 {
                    font-size: 20px;
                    font-weight: 900;
                }
            }
        }
    }
}

.events {
    padding: 70px 0;
    background: #f4f4f4;

    @media(max-width:$sm) {
        padding: 50px 0;
    }

    .head {
        text-align: center;
        max-width: 900px;
        margin: auto;
        padding-bottom: 40px;

        @media(max-width:$sm) {
            padding-bottom: 10px;
        }
    }

    .eventsWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 15px;

        @media(max-width:$lg) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .event {
            border: 1px solid #ebebeb;
            border-radius: 20px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 0 40px -20px rgba(63, 53, 80, 0.3098039216);

        }

        .image {
            height: 180px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 25px 15px;

            .title {
                background: #d9dbff;
                margin-top: -50px;
                position: relative;
                padding: 10px;
                border-radius: 5px;

                h3 {
                    font-size: 12px;
                    font-weight: 700;
                    color: $primary;
                }
            }

            .des {
                display: flex;
                gap: 3px;
                margin-top: 10px;
                margin-bottom: 10px;

                svg {
                    color: $primary;
                    font-size: 16px;
                    width: 20px;
                    display: block;
                }

                span {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    /* Number of lines to display */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    color: #8E8E8E;
                }
            }

            h4 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 8px;
            }

            .location {
                background: #eafbf1;
                padding: 5px;
                width: fit-content;
                font-size: 13px;
                font-weight: 700;
                border-radius: 5px;

                svg {
                    color: $secondary;
                }
            }
        }
    }

    .btn {
        text-align: center;
        padding-top: 20px;

        a {
            background: $primary;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            border-radius: 10px;
        }
    }
}

.blogs {
    padding: 70px 0;

    @media(max-width:$sm) {
        padding: 50px 0;
    }

    .head {
        text-align: center;
        max-width: 900px;
        margin: auto;
        padding-bottom: 40px;

        @media(max-width:$sm) {
            padding-bottom: 10px;
        }
    }

    .blogsWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 15px;

        @media(max-width:$lg) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .blog {
            border: 1px solid #ebebeb;
            border-radius: 20px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 0 40px -20px rgba(63, 53, 80, 0.3098039216);

        }

        .image {
            height: 180px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 25px 15px;

            .title {
                background: #d9dbff;
                margin-top: -50px;
                position: relative;
                padding: 10px;
                border-radius: 5px;

                h3 {
                    font-size: 12px;
                    font-weight: 700;
                    color: $primary;
                }
            }

            .des {
                display: flex;
                gap: 3px;
                margin-top: 10px;
                margin-bottom: 10px;

                svg {
                    color: $primary;
                    font-size: 16px;
                    width: 20px;
                    display: block;
                }

                span {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    /* Number of lines to display */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    color: #8E8E8E;
                }
            }

            h4 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 8px;
            }
        }
    }

    .btn {
        text-align: center;
        padding-top: 20px;

        a {
            background: $primary;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            border-radius: 10px;
        }
    }
}

.getInvolved {
    padding: 70px 0;

    @media(max-width:$md) {
        padding: 50px 0;
    }

    .head {
        text-align: center;
        padding-bottom: 30px;

        @media(max-width:$md) {
            padding-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 40px;
        align-items: center;
        background: #d9dbff;
        padding: 30px;
        border-radius: 30px;

        @media(max-width:$md) {
            gap: 20px;
        }

        @media(max-width:$sm) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            padding: 30px 10px;
        }

        .image {
            img {
                border-radius: 20px;
                height: 250px;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {

            @media(max-width:$md) {
                text-align: center;
            }

            p {
                font-size: 18px;
                font-weight: 600;
            }

            ul {
                list-style: none;

                li {
                    margin-bottom: 15px;

                    span {
                        font-weight: 900;
                        color: $primary;
                    }
                }
            }

            .btns {
                display: flex;
                gap: 10px;

                @media(max-width:$md) {
                    justify-content: center;
                }

                @media(max-width:$sm) {
                    justify-content: center;
                    flex-wrap: wrap;
                }

                a {
                    padding: 10px 20px;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    border-radius: 10px;

                    @media(max-width:$sm) {
                        padding: 10px 15px;
                        font-size: 14px;
                        border-radius: 8px;
                    }
                }

                .btnOne {
                    background: $primary;
                }

                .btnTwo {
                    background: $secondary;
                }
            }
        }
    }
}