@use "/src/styles/var" as *;


.banner {
    .video {
        width: 100%;
        height: 100%;
    }
}

.welcome {
    padding-top: 100px;

    @media(max-width:$md) {
        padding-top: 50px;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 20px;
        align-items: center;

        .image {
            .inner {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                margin-bottom: 20px;

                img {
                    height: 200px;
                }
            }

            img {
                border-radius: 20px;
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
    }
}

.vission {
    padding-top: 100px;

    @media(max-width:$md) {
        padding-top: 50px;
    }

    .container {
        background-image: url(/images/image4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 40px;
        padding: 20px;

        .content {
            text-align: center;
            padding: 70px 20px;
            max-width: 800px;
            margin: auto;
            background: #ffffffe0;
            border-radius: 30px;
        }
    }
}

.mayor {
    padding: 100px 0;
    margin-top: 100px;
    background: #f4f4f4;

    @media(max-width:$md) {
        padding: 50px 0;
        margin-top: 50px;
    }

    .head {
        text-align: center;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 20px;
        align-items: center;

        .content {
            h3 {
                color: $primary;
                font-weight: 600;
                margin-bottom: 20px;
                font-size: 28px;
            }

            p {
                font-style: italic;
                font-size: 18px;
            }
        }

        .image {
            text-align: center;

            img {
                width: 60%;
            }
        }
    }
}

.keyPillars {
    padding: 100px 0;

    @media(max-width:$md) {
        padding: 50px 0;

    }

    .head {
        text-align: center;
        padding-bottom: 50px;

        @media(max-width:$md) {
            padding-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 30px;

        @media(max-width:$md) {
            gap: 20px;
        }


        .wrapper {
            box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;
            border-radius: 20px;
            overflow: hidden;

        }

        .content {
            padding: 20px 30px;

            h3 {
                color: $primary;
                font-weight: 900;
                margin-bottom: 15px;
                font-size: 24px;
                text-align: center;
            }

            ul {
                list-style: circle;
                padding-left: 20px;

                li {
                    margin-bottom: 10px;
                }
            }

        }

        .image {
            text-align: center;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }
    }
}

.ongoingProjects {
    padding: 100px 0;
    background: #f4f4f4;

    @media(max-width:$md) {
        padding: 50px 0;
    }

    .head {
        text-align: center;
        padding-bottom: 50px;

        @media(max-width:$md) {
            padding-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));


        .wrapper {
            box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;
            background: #fff;
            overflow: hidden;
            padding: 20px;
            border: 1px solid #ddd;
            display: flex;
            gap: 20px;

            .icon {
                font-size: 50px;

                svg {
                    color: $primary;
                }
            }

            .content {
                h3 {
                    font-size: 20px;
                    font-weight: 900;
                }
            }
        }
    }
}

.getInvolved {
    padding: 100px 0;

    @media(max-width:$md) {
        padding: 50px 0;
    }

    .head {
        text-align: center;
        padding-bottom: 50px;

        @media(max-width:$md) {
            padding-bottom: 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: 40px;
        align-items: center;

        @media(max-width:$md) {
            gap: 20px;
        }

        .image {
            img {
                border-radius: 20px;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {
            ul {
                list-style: none;

                li {
                    margin-bottom: 15px;

                    span {
                        font-weight: 900;
                        color: $primary;
                    }
                }
            }
        }
    }
}