@use "/src/styles/var" as *;

.gallery {
    padding: 70px 0;
    padding-top: 120px;

    @media(max-width:$lg) {
        padding: 50px 0;
        padding-top: 100px;

    }

    @media(max-width:$sm) {
        padding-top: 80px;

    }



    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 20px;

        @media(max-width:$lg) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 15px;
        }


        .wrapper {
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            border: 1px solid #ddd;
            padding: 20px 10px;
            background: #fff;
        }

        .content {
            h3 {
                color: #000;
                font-weight: 700;
                margin-bottom: 10px;
                font-size: 20px;
                text-align: center;
            }

        }

        .image {

            iframe {
                width: 100%;
                aspect-ratio: 2/1;
            }
        }
    }
}