@import '/src/styles/var';

.footer {
    padding: 70px 0;
    color: #fff;
    background-color: #000;




    @media (max-width: $sm) {
        padding: 50px 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @media (max-width: $xl) {
            flex-wrap: wrap;
        }

        @media (max-width: $sm) {
            gap: 25px;
        }

        h3 {
            font-size: 20px;
            margin-bottom: 20px;

            @media (max-width: $xxl) {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }

        h4 {
            font-size: 20px;
            margin-bottom: 20px;

            @media (max-width: $xxl) {
                font-size: 18px;
            }
        }

        .inner_wrapper {
            width: 100%;
            max-width: 400px;

            @media (max-width: $xl) {
                max-width: 100%;
            }

            .logo {
                display: block;
                margin-bottom: 20px;


                img {
                    width: 100%;
                    max-width: 100px;

                    @media (max-width: $sm) {
                        max-width: 50px;
                    }
                }
            }

            p {
                font-size: 20px;

                @media (max-width: $xxl) {
                    font-size: 16px;
                }

                @media (max-width: $sm) {
                    font-size: 14px;
                }
            }
        }

        .footer_menu {
            @media (max-width: $md) {
                width: 100%;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 6px 0;

                    @media (max-width: $xxl) {
                        padding: 3px 0;
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;

                        @media (max-width: $xxl) {
                            font-size: 16px;
                        }
                    }

                    .active {
                        background: $primary;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }

        .connect {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-bottom: 30px;
                display: flex;
                gap: 20px;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 28px;
                }
            }

            .download {
                display: flex;
                gap: 8px;

                img {
                    width: 100px;
                    height: 40px;
                    object-fit: contain;
                    border-radius: 12px;
                    border: 1px solid #4e4e4e;
                }
            }
        }
    }

    .footer_bootom {
        padding-top: 30px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid grey;

        @media (max-width: $md) {
            flex-direction: column;
        }


        .copyright {
            font-size: 16px;
            font-weight: 600;



            @media (max-width: $md) {

                text-align: center;
            }

            a {
                text-decoration: none;
            }

            .powerdby {
                width: 100px;
                object-fit: contain;
                padding-left: 5px;
            }
        }



        .policy {
            display: flex;
            gap: 20px;

            @media (max-width: $md) {
                justify-content: center;
            }


            a {
                color: #fff;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;



                @media (max-width: $md) {

                    text-align: center;
                }
            }
        }
    }

    .copy {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;

        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color: $primary;
            }
        }
    }
}